[dev-packages]
flake8 = "*"
mypy = "*"
pylint = "*"
ipdb = "*"
web-pdb = "*"
types-requests = "*"
types-PyYAML = "*"
types-paramiko = "*"
# Have commented out python-language-server to make it available quickly
# for the development
#python-language-server = "*"
#pyls-mypy = "*"
#pyls-isort = "*"

[packages]
typing_extensions = "*"
importlib_resources = "*"
pytest-xdist = "*"
pytest = "*"
pytest-cases = "*"
pytest-html = "*"
requests = "*"
#3scale-api = "*"
dynaconf = "*"
python-keycloak-client = {git = "https://github.com/pehala/python-keycloak-client.git", editable = true}
backoff = "*"
websocket_client = "*"
httpx = {version = "*", extras = ["http2"]}
msedge-selenium-tools = "*"
webdriver-manager = "*"
widgetastic-core = "*"
widgetastic-patternfly4 = "*"
widgetastic-patternfly = "*"
# For developing purposes should be added 3scale-api library from source or
# from github repository
# 3scale-api = {editable = true,path = "./../3scale-api-python"}
 3scale-api = {git = "https://github.com/pestanko/3scale-api-python.git", editable = true}
cfssl = "==0.0.3b243"
openshift-client = ">=1.0.9"
hyperfoil-client="*"
paramiko = "*"
docker = "*"
podman = "*"
jsondiff = "*"
weakget = {editable = true,git = "https://github.com/mangan/weakget.git"}
flaky = "*"
lxml = "*"
self = "*"

[requires]
python_version = "3"
