[dev-packages]
flake8 = "*"
mypy = "*"
pylint = "*"
types-requests = "*"
types-PyYAML = "*"
types-paramiko = "*"
types-braintree = "*"
types-stripe = "*"
types-Pillow = "*"
black = "*"
# Have commented out python-language-server to make it available quickly
# for the development
#python-language-server = "*"
#pyls-mypy = "*"
#pyls-isort = "*"
# Optional debugger dependencies
#ipdb = "*"
#web-pdb = "*"

[packages]
typing_extensions = "*"
importlib_resources = "*"
zipp = "*"
pytest-xdist = "*"
pytest = "<9.0.0"
pytest-cases = "*"
pytest-asyncio = "==0.21.2"
requests = "*"
3scale-api = ">=0.35.0"
dynaconf = "*"
python-keycloak = ">=4.7.3"  # this fix needed: https://github.com/marcospereirampj/python-keycloak/pull/622/files
backoff = "*"
websocket_client = "==1.5.1"
httpx = {version = "*", extras = ["http2"]}
selenium = ">=4.0.0"
webdriver-manager = "*"
widgetastic-core = "<2.0.0"  # as long as we use widgetastic-patternfly4
widgetastic-patternfly4 = "*"
widgetastic-patternfly = "*"
# For developing purposes should be added 3scale-api library from source or
# from github repository
# 3scale-api = {editable = true,path = "./../3scale-api-python"}
# 3scale-api = {git = "https://github.com/pestanko/3scale-api-python.git", editable = true}
cfssl = "==0.0.3b243"
openshift-client = ">=2.0.1"
hyperfoil-client="*"
paramiko = "*"
jsondiff = "*"
weakget = "*"
flaky = "*"
lxml = "*"
auth0-python= "*"
stripe= "*"
braintree = "*"
pillow = "*"
pytest-persistence = "*"
pytest-metadata = ">=3.0.0"
pytest-html = "*"
ansi2html = "*"
pip-system-certs = "*"

[requires]
python_version = "3"
