[dev-packages]
flake8 = "*"
mypy = "*"
pylint = "*"
types-requests = "*"
types-PyYAML = "*"
types-paramiko = "*"
types-braintree = "*"
types-stripe = "*"
types-Pillow = "*"
black = "*"
# Have commented out python-language-server to make it available quickly
# for the development
#python-language-server = "*"
#pyls-mypy = "*"
#pyls-isort = "*"
# Optional debugger dependencies
#ipdb = "*"
#web-pdb = "*"

[packages]
typing_extensions = "*"
importlib_resources = "*"
zipp = "*"
pytest-xdist = "*"
pytest = "*"
pytest-cases = "*"
pytest-asyncio = "*"
requests = "*"
3scale-api = ">=0.30.0"
dynaconf = "*"
# python_keycloak = "*"
# Waiting for https://github.com/marcospereirampj/python-keycloak/pull/201 and https://github.com/marcospereirampj/python-keycloak/pull/200
python-keycloak = ">=2.13"
backoff = "*"
websocket_client = "*"
httpx = {version = "*", extras = ["http2"]}
selenium = ">=4.0.0"
webdriver-manager = "*"
widgetastic-core = "*"
widgetastic-patternfly4 = "*"
widgetastic-patternfly = "*"
# For developing purposes should be added 3scale-api library from source or
# from github repository
# 3scale-api = {editable = true,path = "./../3scale-api-python"}
# 3scale-api = {git = "https://github.com/pestanko/3scale-api-python.git", editable = true}
cfssl = "==0.0.3b243"
openshift-client = ">=1.0.14"
hyperfoil-client="*"
paramiko = "*"
docker = "*"
podman = "*"
jsondiff = "*"
weakget = "*"
flaky = "*"
lxml = "*"
auth0-python= "*"
stripe= "*"
braintree = "*"
pillow = "*"
pytest-persistence = "*"
pytest-metadata = "*"
pytest-html = "*"
ansi2html = "*"

[requires]
python_version = "3"
