name: acceptance
on:
  push:
  pull_request:
    branches: [ main ]
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      - name: Install pipenv
        run: pip install pipenv
      - name: Install dependencies
        run: PIPENV_VERBOSITY=-1 make pipenv-dev
      - name: Run acceptance check
        run: PIPENV_VERBOSITY=-1 make commit-acceptance
