name: dispatch_5_github_release
on:
  workflow_dispatch

jobs:
  dispatch_5_github_release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: select latest pre-release from a branch
        shell: bash
        run: gh release list | grep $(git describe --tags --abbrev=0)
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - name: dispatch_github_release
        shell: bash
        run: git describe --tags --abbrev=0|xargs git show-ref|(read commit ref; ref=${ref##refs/tags/}; gh release create ${ref%%rc*} --generate-notes --target $commit)
        env:
          # github-actions account doesn't seem to trigger events, therefore different account must be used
          GITHUB_TOKEN: ${{ secrets.BOTBEZBOT_TOKEN }}
