name: make_dist
on:
  push:
    tags:
      - v*
env:
  CACERT_CONTENT: ${{ secrets.CACERT }}
  CACERT: custom-ca.crt
jobs:
  make_dist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v6
        with:
          python-version: '3.11'
      - name: Install pipenv
        run: pip install pipenv
      - name: quay.io login
        uses: docker/login-action@v3
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_ROBOT_TOKEN }}
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: cacert
        run: echo "$CACERT_CONTENT" > $CACERT
      - name: tools
        id: tools
        run: echo "url=$(gh api /repos/3scale-qe/tools/releases/latest --jq .tarball_url)" >> $GITHUB_OUTPUT
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: make dist
        run: make dist IMAGENAME="quay.io/rh_integration/3scale-testsuite" PUSHIMAGE=y
        env:
          fetch_tools: ${{ steps.tools.outputs.url }}
          PUSH_EXTRA: ghcr.io/${{ github.repository }}

